@model IEnumerable<StudentExample.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container">
   
    @Html.ActionLink(" Add New Student", "Create")
    @foreach (var student in Model)
    {
        <div class="row">
            <div class="col-md-3">@student.Name (@student.Email)</div>
            <div class="col-md-3">@student.Address</div>
            <div class="col-md-3">@student.State</div>
            <div class="col-md-3">@Html.ActionLink("Edit", "Edit", new {id=@student.StudentID }) | @Html.ActionLink("Del", "Delete", new { id = @student.StudentID })</div>
        </div>
    }
</div>
